GEMINI_API_KEY=
EMBEDDING_MODEL=all-mpnet-base-v2
GEMINI_MODEL=gemini-2.5-flash-lite



USE_RERANKING=true
RERANKING_MODEL=cross-encoder/mmarco-mMiniLMv2-L12-H384-v1
CHROMA_PERSIST_DIR = data/chroma_db
CHROMA_COLLECTION_NAME = hr_docs

CHUNK_SIZE = 800
CHUNK_OVERLAP = 200
TOP_K = 10
DISTANCE_THRESHOLD = 1.5